@model TestOfTesters.Models.FormModel

@{
    ViewBag.Title = "ProcessForm";
}

<h2>Form Succesfully Submited</h2>
<p>Thank you for your time, @Model.StudentFirstName @Model.StudentMiddleName @Model.StudentLastName. Results of teachers evaluation will be published at the end of semester. </p>



