@model TestOfTesters.Models.FormModel

@{
    ViewBag.Title = "ProcessForm";
}

<h2>Form Succesfully Submited</h2>
<p>
    Thank you for your time, @Model.FullName. Results of teacher evaluation will be published at the end of the semester.
    <br />
    <br />
    Ex astris, scientia. 
</p>