@model TestOfTesters.Models.FormModel

@{
    ViewBag.Title = "TestForm";
}

<h2>TestForm</h2>

<h2>Test Form 2</h2>
<p>This will be my other form</p>



<div class="form-group">
    <div>
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div>
        <label for="name">name</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

