@model TestOfTesters.Models.FormModel

@{
    ViewBag.Title = "Test Form";
}


<body>

    <br />
    <h2 class="text-center" style="font-family:'Comic Sans MS'">Teacher Validation Form</h2>
    <br />

    <form role="form" method="post" action="/Form/TestForm">
        <div class="container" draggable="true">
            <h4>Student Information</h4>
            <div class="row">
                <div class="col-md-4">
                    <label for="StudentFirstName">First name*</label>
                    <input type="text" class="form-control" id="StudentFirstName" name="StudentFirstName" value="" required="required" maxlength="25">
                </div>
                <div class="col-md-4">
                    <label for="StudentMiddleName">Middle name</label>
                    <input type="text" class="form-control" id="StudentMiddleName" name="StudentMiddleName" value="" maxlength="25">
                </div>
                <div class="col-md-4">
                    <label for="StudentLastName">Last name*</label>
                    <input type="text" class="form-control" id="StudentLastName" name="StudentLastName" value="" required="required" maxlength="25">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <label for="DateOfBirth">Date of Birth*</label>
                    <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" value="" required="required">
                </div>
                <div class="col-md-4">
                    <label for="Age">Age*</label>
                    <input type="number" class="form-control" id="Age" name="Age" value="" required="required" min="0" max="100">
                </div>
                <div class="col-md-4">
                    <label for="Gender">Gender*</label>
                    <select class="form-control" name="Gender" required="required">
                        <option></option>
                        <option value="a">Male</option>
                        <option value="b">Female</option>
                        <option value="c">Other</option>
                        <option value="d">Prefer not to disclose</option>
                    </select>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <label for="YearOfStudy">YearOfStudy*</label>
                    <input type="number" class="form-control" id="YearOfStudy" name="YearOfStudy" value="" required="required" min="0" max="10">
                </div>
                <div class="col-md-4">
                    <label for="TypeOfStudy">Type of Study*</label>
                    <select class="form-control" name="TypeOfStudy" required="required">
                        <option></option>
                        <option>Full-time</option>
                        <option>Part=time</option>
                        <option>Block mode learning</option>
                        <option>Distance learning</option>
                    </select>
                </div>
            </div>
            <hr />
        </div>

        <div class="container">
            <h4>Teacher Information</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="Faculty">Faculty*</label>
                    <select class="form-control" name="Faculty" required="required">
                        <option></option>
                        <option value="a">Business School</option>
                        <option value="b">Faculty of Arts & Sciences</option>
                        <option value="c">School of Dental Medicine</option>
                        <option value="d">School of Design</option>
                        <option value="e">School of Education</option>
                        <option value="f">School of Engineering & Applied Sciences</option>
                        <option value="g">Law School</option>
                        <option value="h">Medicall School</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="TeacherFullName">Teacher name*</label>
                    <input type="text" class="form-control" id="TeacherFullName" name="TeacherFullName" value="" maxlength="25">
                </div>
            </div>
            <hr />
        </div>

        <div class="container">
            <h4>Evaluation</h4>
            <div class="row">
                <div class="container col-md-4">
                    <label title="Rate teacher’s rhetorical skills">Comprehensibility</label>
                    <div class="btn-group col-xs-12" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" name="Comprehensibility" value="">1
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Comprehensibility" value="">2
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Comprehensibility" value="">3
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Comprehensibility" value="">4
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Comprehensibility" value="">5
                        </label>
                    </div>
                </div>
                <div class="container col-md-4">
                    <label title="Rate quality of teacher’s preparation before classes">Preparedness</label>
                    <div class="btn-group col-xs-12" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio" name="Preparedness" value="">1
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Preparedness" value="">2
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Preparedness" value="">3
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Preparedness" value="">4
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Preparedness" value="">5
                        </label>
                    </div>
                </div>
                <div class="container col-md-4">
                    <label title="Rate teacher’s time management of lectures">Punctuality</label>
                    <div class="btn-group col-xs-12" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio" name="Punctuality" value="">1
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Punctuality" value="">2
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Punctuality" value="">3
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Punctuality" value="">4
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Punctuality" value="">5
                        </label>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="container col-md-4">
                    <label title="Rate teacher’s relationships with students">Expertize</label>
                    <div class="btn-group col-xs-12" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" name="Expertise" value="">1
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Expertise" value="">2
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Expertise" value="">3
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Expertise" value="">4
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Expertise" value="">5
                        </label>
                    </div>
                </div>
                <div class="container col-md-4">
                    <label title="Rate teacher’s proficiency in his area of study">Attitude</label>
                    <div class="btn-group col-xs-12" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio" name="Attitude" value="">1
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Attitude" value="">2
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Attitude" value="">3
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Attitude" value="">4
                        </label>
                        <label class="btn btn-default disabled">
                            <input type="radio" name="Attitude" value="">5
                        </label>
                    </div>
                </div>
                <div class="container col-md-4">
                    <label>Overall</label>
                    <div class="btn-group col-xs-12" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio" name="Overall" value="">1
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Overall" value="">2
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Overall" value="">3
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Overall" value="">4
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="Overall" value="">5
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="container">
            <fieldset class="form-group">
                <label for="Comment">Comment</label>
                <textarea class="form-control" id="Comment" name="Comment" rows="5"> </textarea>
            </fieldset>
        </div>

        <br />
        <div class="container">
            <hr />
            <div class="checkbox">
                <label class="well">
                    <input type="checkbox">
                    I want to be about results
                </label>
                <p>Your email address will not be published. Required  fields are  marked<strong style="color: red"> *</strong> </p>
            </div>
            <br />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" id="Sumbit" value="submit">Submit</button>
            </div>
        </div>
    </form>
    <hr />
</body>

