@model TestOfTesters.Models.FormModel

@{
    ViewBag.Title = "Test Form";
}


<body>

    <div class="container">

        <h2 class="text-center">Teacher Validation Form</h2>
        <br />
        <form role="form" method="post" action="/Form/TestForm">
            <div class="form-inline" draggable="true">
                <h4>Student Information</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="StudentFirstName">First name*</label>
                        <input type="text" class="form-control" id="StudentFirstName" name="StudentFirstName" value="" required="required" maxlength="35">
                    </div>
                    <div class="col-sm-4">
                        <label for="StudentMiddleName">Middle name</label>
                        <input type="text" class="form-control" id="StudentMiddleName" name="StudentMiddleName" value="" maxlength="35">
                    </div>
                    <div class="col-sm-4">
                        <label for="StudentLastName">Last name*</label>
                        <input type="text" class="form-control" id="StudentLastName" name="StudentLastName" value="" required="required" maxlength="35">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <label for="DateOfBirth">Date of Birth*</label>
                        <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" value="" required="required">
                    </div>
                    <div class="col-sm-4">
                        <label for="Age">Age*</label>
                        <input type="number" class="form-control" id="Age" name="Age" value="" required="required" min="0" max="100">
                    </div>
                    <div class="col-sm-4">
                        <label for="YearOfStudy">Year of Study*</label>
                        <input type="number" class="form-control" id="YearOfStudy" name="YearOfStudy" value="" required="required" min="0" max="10">
                    </div>
                </div>
                <hr />
            </div>

            <div class="form-inline">
                <h4>Teacher Information</h4>
                <div class="form-group col-sm-6">
                    <label for="Faculty">Faculty*</label>
                    <select class="form-control" id="Faculty" name="Faculty" required="required">
                        <option></option>
                        <option value="a">Business School</option>
                        <option value="b">Faculty of Arts & Sciences</option>
                        <option value="c">School of Dental Medicine</option>
                        <option value="d">School of Design</option>
                        <option value="e">School of Education</option>
                        <option value="f">School of Engineering & Applied Sciences</option>
                        <option value="g">Law School</option>
                        <option value="h">Medical School</option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                        <label for="TeacherFullName">Teacher name*</label>
                        <input type="text" class="form-control" id="TeacherFullName" name="TeacherFullName" value="" required="required" maxlength="35">
                    </div>
                <hr />
            </div>



            <br />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" id="Submit" value="submit">Submit</button>
            </div>
        </form>


    </div>
</body>

