@{
    ViewBag.Title = "Instructions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>TODO: here will be detailed instructions about test and upload</p>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a posuere nibh. 
        Cras feugiat ornare dolor nec rhoncus. Donec ligula leo, feugiat sit amet commodo ac, 
        aliquam sagittis ipsum. In eu augue laoreet libero scelerisque imperdiet a vel ipsum. 
        Aliquam erat volutpat. Aliquam aliquam dolor eu ligula ullamcorper, pellentesque blandit justo auctor. 
        Ut in libero nisi. Morbi nec nisl erat. Quisque blandit, ipsum vitae egestas tincidunt, 
        tortor nisi mollis nulla, vitae viverra purus nibh quis metus.
    </p>
