@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-right">Test of Testers</h1>
    <p class="lead text-right">Gotta find 'em all!</p>
    <br />
    <br />
    <p class="text-right text-bottom"><a href="/Home/Instructions" class="btn btn-primary btn-lg">Test Instructions &raquo;</a></p>

</div>
<div class="container">
    <div class="row col-md-6">
        <h3>Meaning of this site</h3>
        <br />
        <p>
            This site is intentionally created with a lot of mistakes. There are coding errors, visual mistakes,
            logical mistakes and a little more. Your goal is to find as many of them as possible.
        </p>        
    </div>
</div>