@{
    ViewBag.Title = "Instructions";
}
<h2>@ViewBag.Title</h2>
<br />
<p>
    This site is full of various mistakes. Most of them are in the Test section, but some are on different places. Test section represents teacher evaluation by students on some fictional university.
    <br />
    <br />

    You have 1 hour and 30 minutes to find as many errors as possible. You should open your favorite text editor and write down all the mistakes you find. After you are finished, please follow the link at the bottom of this page and upload your results there. If possible, please choose PDF format for uploaded file.
    <br />
    <br />

    Good luck!
</p>
<br />

<p class="text-center text-bottom">
    <a href="https://rarecrew.wufoo.eu/forms/submit-test-results/">Upload Results</a>
</p>
<br />

